.logo-first {
    font-size: 48px;
    color: #051aff;
}
.logo-second {
    color: #ff0000;
}
.auth_register-text{
    text-align: center;
    color: #051aff;
    font-size: 32px;
}
.container-header{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
@media(max-width:800px){
    .logo-first {
        font-size: 36px;
        color: #051aff;
    }
}
@media(max-width:700px){
    .logo-first {
        font-size: 24px;
        color: #051aff;
    }
}